/* GLOBAL */
@import "./common/variables.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";

/* BLOCKS */
@import "./blocks/header.scss";
@import "./blocks/hero.scss";
@import "./blocks/features.scss";
@import "./blocks/catalog.scss";
@import "./blocks/slide.scss";
@import "./blocks/filters.scss";
