.features {
  padding: 50px 0 60px;

  @media (min-width: $tablet-width) {
    padding: 60px 0 86px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 120px;
  }
}

.features__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  margin: 0 auto;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1360px;
    padding: 0 40px;
  }
}

.features__title {
  text-transform: uppercase;
  color: $base-primary;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  margin: 0 0 4px;
  letter-spacing: 0.04em;
}

.features__second-title {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  margin: 0 0 36px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 64px;
    font-weight: 700;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.features__list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px 30px;
    grid-template-rows: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: start;
  }
}

.features__item {
  text-align: center;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    text-align: left;
    position: relative;
    padding-left: 72px;
    margin-bottom: 12px;
  }

  @media (min-width: $desktop-width) {
    width: 317px;
    text-align: center;
    padding: 78px 0 0;
    margin: 0;
  }
}

.features__item:nth-last-child(1) {
  margin-bottom: 0;
}

.features__item-title {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  margin: 0 0 4px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 12px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 10px;
  }
}

.features__item-title::before {
  display: block;
  content: "";
  background-size: 52px 56px;
  background-repeat: no-repeat;
  background-position: center;
  width: 52px;
  height: 56px;
  margin: 0 auto 10px;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 0;
    top: 4px;
  }

  @media (min-width: $desktop-width) {
    left: 0;
    right: 0;
    top: 0;
  }
}


.features__item-title--speed::before {
  background-image: url("../../icons/feature-speed.svg");
}

.features__item-title--fit::before {
  background-image: url("../../icons/feature-fit.svg");
}

.features__item-title--energy::before {
  background-image: url("../../icons/feature-energy.svg");
}

.features__item-title--eco::before {
  background-image: url("../../icons/feature-ecology.svg");
}


.features__item-description {
  font-size: 14px;
  line-height: 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
