.footer {
  display: block;
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
  }
}

.footer__container {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
  }
}

.footer__icons {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid $base-secondary;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 4;
  }
}

.footer__logo {
  margin-top: 2px;
}

.social {
  display: flex;
}

.social__list {
  display: flex;
  justify-content: space-between;
}

.social__item {
  margin-right: 20px;
}

.social__item:hover,
.social__item:focus,
.social__item:focus-visible {
  background-color: $base-secondary;
  outline-color: $base-secondary;
}

.social__item:active {
  background: rgba(120, 89, 207, 0.25);
  outline-color: rgba(120, 89, 207, 0.25);
}

.social__item:nth-last-child(1) {
  margin-right: 0;
}

.social__link::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  mask-repeat: no-repeat;
  mask-position: center;
  padding: 10px;
  mask-size: 20px 20px;
  background-color: $base-grey;
}

.social__link:hover::after,
.social__link:focus::after,
.social__link:focus-visible::after {
  background-color: $base-primary;
  outline-color: $base-primary;
}

.social__link:active::after {
  background-color: $base-primary;
  outline-color: $base-primary;
}

.social__link--vk::after {
  mask-image: url("../../images/vk-grey.svg");
}

.social__link--pinterest::after {
  mask-image: url("../../images/pinterest-grey.svg");
}

.social__link--ok::after {
  mask-image: url("../../images/ok-grey.svg");
}


.footer__shop {
  padding: 20px 20px 28px;
  border-bottom: 1px solid $base-secondary;

  @media (min-width: $tablet-width) {
    padding: 10px 20px;
    border-bottom: none;
  }
}

.footer__media {
  padding: 20px 20px 28px;
  border-bottom: 1px solid $base-secondary;

  @media (min-width: $tablet-width) {
    padding: 10px 20px;
    border-bottom: none;
  }
}

.footer__contact {
  padding: 20px;
  border-bottom: 1px solid $base-secondary;

  @media (min-width: $tablet-width) {
    padding: 10px 14px;
    border-bottom: none;
  }
}

.footer__title {
  color: $base-primary;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  margin: 0 0 20px;
  letter-spacing: 0.02;
}

.footer__item {
  margin-bottom: 20px;
}

.footer__item:last-child {
  margin-bottom: 0;
}

.footer__link {
  text-transform: uppercase;
  color: $base-black;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;

  @media (min-width: $tablet-width) {
    letter-spacing: 2%;
  }
}

.footer__link:hover,
.footer__link:focus,
.footer__link:focus-visible {
  color: #9070ec;
  outline-color: transparent;
}

.footer__link:active {
  color: #593cac;
}

.contact .footer__item {
  margin-bottom: 16px;
}

.contact .footer__item:nth-last-child(1) {
  margin-bottom: 0;
}

.footer__item address {
  display: flex;
  font-family: inherit;
  font-style: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $base-black;
}

.footer__item address::before {
  content: "";
  display: block;
  width: 13px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px 16px;
  background-image: url("../../icons/icon-address.svg");
  flex-shrink: 0;
  margin: 1px 6px 0 0;
}

.contact .footer__item a {
  display: flex;
  font-family: inherit;
  font-style: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $base-black;
}

.contact .footer__item a::before {
  content: "";
  display: block;
  width: 13px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px 16px;
  background-image: url("../../icons/icon-phone.svg");
  flex-shrink: 0;
  margin: 1px 6px 0 0;
}

.footer__copyright {
  display: flex;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: $base-grey;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  align-items: start;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 4;
    padding-top: 28px;
    padding-bottom: 40px;
  }
}

.copyright__text {
  margin: 0 2px 0 0;
}
