.header {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: $base-white;
  color: $base-black;
  position: relative;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 320px;
  margin: 0 auto;
}

.header__logo {
  margin: 12px 20px;
}

.header__icons {
  display: flex;
}

.header__profile::before {
  display: block;
  content: "";
  background-color: $base-black;
  mask-image: url("../../icons/user-grey.svg");
  mask-position: center;
  mask-size: 16px 16px;
  mask-repeat: no-repeat;
  width: 16px;
  height: 16px;
  padding: 22px;
  background-position: center;
}

.header__profile:active {
  background-color: $base-secondary;
}

// .header__profile:hover::before,
// .header__profile:focus::before,
// .header__profile:active::before {
//   background-image: url("../../icons/user-colored.svg");
// }


.header__basket::before {
  display: block;
  content: "";
  background-image: url("../../icons/union-grey.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  padding: 22px;
  background-position: center;
}

.header__basket:active {
  background-color: $base-secondary;
}

// .header__basket:hover::before,
// .header__basket:focus::before,
// .header__basket:active::before {
//   background-image: url("../../icons/union-colored.svg");
// }

.header__navigation-button::before {
  display: block;
  content: "";
  background-size: 16px 16px;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  padding: 22px;
  background-position: center;
}

.open-navigation::before {
  background-image: url("../../icons/icon-burger.svg");
}

.close-navigation::before {
  background-image: url("../../icons/icon-close.svg");
}

.header__navigation-button:active {
  background-color: $base-secondary;
}
