.map {
  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.map__image {
  width: 100%;
}

.map__image img {
  width: 100%;
  height: 420px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    height: 480px;
  }
}
