.noui-base,
.noui-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  border: none;
}

.noui-connects {
  background-color: #e2e2e2;
  overflow: hidden;
  z-index: 0;
  border: none;
}

.noui-connect {
  background: $base-primary;
}

.noui-touch-area {
  height: 100%;
  width: 100%;
  border-radius: 50;
}

.noui-horizontal .noui-handle {
  width: 24px;
  height: 24px;
  right: -11px;
  top: -11px;
  border-radius: 50%;
  border: 2px solid $base-primary;
}

.noui-vertical .noui-handle {
  width: 28px;
  height: 34px;
  right: -6px;
  bottom: -17px;
}


.noui-vertical .noui-draggable {
  cursor: ns-resize;
}

.noui-handle {
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background: #ffffff;
  cursor: default;
  box-shadow: inset 0 0 1px #ffffff, inset 0 1px 7px #ebebeb, 0 3px 6px -3px #bbbbbb;
}

.noui-handle:active::before {
  content: "";
  background-color: #7859cf;
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  border-radius: 50%;
  top: 2px;
  left: 2px;
}

.noui-handle:hover::before,
.noui-handle:focus::before,
.noui-handle:focus-visible::before {
  content: "";
  background: rgba(120, 89, 207, 0.25);
  outline: transparent;
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  border-radius: 50%;
  top: 2px;
  left: 2px;
}

.noui-active {
  box-shadow: inset 0 0 1px #ffffff, inset 0 1px 7px #dddddd, 0 3px 6px -3px #bbbbbb;
}
/* Handle stripes;
  */
.noui-handle::before,
.noui-handle::after {
  display: none;
}

/* Disabled state;
  */
[disabled] .noui-connect {
  background: #b8b8b8;
}

[disabled].noui-target,
[disabled].noui-handle,
[disabled] .noui-handle {
  cursor: not-allowed;
}
/* Base;
  *
  */
.noui-pips,
.noui-pips * {
  box-sizing: border-box;
}

.noui-pips {
  position: absolute;
  color: #999999;
}
/* Values;
  *
  */
.noui-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}

.noui-value-sub {
  color: #cccccc;
  font-size: 10px;
}
/* Markings;
  *
  */
.noui-marker {
  position: absolute;
  background: #cccccc;
}

.noui-marker-sub {
  background: #aaaaaa;
}

.noui-marker-large {
  background: #aaaaaa;
}
/* Horizontal layout;
  *
  */
.noui-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}

.noui-value-horizontal {
  transform: translate(-50%, 50%);
}

.noui--rtl .noui-value-horizontal {
  transform: translate(50%, 50%);
}

.noui-marker-horizontal.noui-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}

.noui-marker-horizontal.noui-marker-sub {
  height: 10px;
}

.noui-marker-horizontal.noui-marker-large {
  height: 15px;
}
/* Vertical layout;
  *
  */
.noui-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}

.noui-value-vertical {
  transform: translate(0, -50%);
  padding-left: 25px;
}

.noui-rtl .noui-value-vertical {
  transform: translate(0, 50%);
}

.noui-marker-vertical.noui-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}

.noui-marker-vertical.noui-marker-sub {
  width: 10px;
}

.noui-marker-vertical.noui-marker-large {
  width: 15px;
}

.noui-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background: #ffffff;
  color: #000000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}

.noui-horizontal .noui-tooltip {
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}

.noui-vertical .noui-tooltip {
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}

.noui-horizontal .noui-origin > .noui-tooltip {
  transform: translate(50%, 0);
  left: auto;
  bottom: 10px;
}

.noui-vertical .noui-origin > .noui-tooltip {
  transform: translate(0, -18px);
  top: auto;
  right: 28px;
}
