.pagination__list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: end;
  }
}

.pagination__link {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $base-primary;
  display: flex;
  align-items: center;
  background-color: $base-white;
  width: 24px;
  height: 24px;
  justify-content: center;
  padding: 8px;
  border-radius: 4px;
}


.pagination__item {
  @media (min-width: $tablet-width) {
    margin-right: 20px;
  }
}

.pagination__item:nth-last-child(1) {
  @media (min-width: $tablet-width) {
    margin-right: 0;
  }
}

.pagination__link--active {
  color: $base-black;
  background-color: transparent;
  font-weight: 700;
}

.pagination__link:hover,
.pagination__link:focus,
.pagination__link:focus-visible {
  outline-color: #9070ec;
  background-color: #9070ec;
  color: $base-white;
}

.pagination__link:active {
  background-color: #593cac;
  color: $base-white;
}

.pagination__link:disabled {
  background-color: $base-grey;
  color: $base-white;
}

.pagination__link--previous {
  @media (min-width: $tablet-width) {
    width: auto;
    height: 24px;
    background-color: $base-white;
    padding: 8px 20px;
  }
}

.pagination__link--previous::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: $base-primary;
  mask-image: url("../../icons/pagination-arrow.svg");
  mask-position: center;

  @media (min-width: $tablet-width) {
    content: "Назад";
    text-align: center;
    width: auto;
    height: 24px;
    mask-image: none;
    background-color: $base-white;
  }
}

.pagination__link--previous:active::after,
.pagination__link--previous:hover::after,
.pagination__link--previous:focus::after,
.pagination__link--previous:focus-visible::after {
  background-color: $base-white;
}

.pagination__link--next {
  @media (min-width: $tablet-width) {
    width: auto;
    height: 24px;
    background-color: $base-white;
    padding: 8px 20px;
  }
}

.pagination__link--next::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: $base-primary;
  mask-image: url("../../icons/pagination-arrow.svg");
  mask-position: center;
  transform: rotate(180deg);

  @media (min-width: $tablet-width) {
    content: "Вперед";
    text-align: center;
    width: auto;
    height: 24px;
    mask-image: none;
    background-color: $base-white;
    transform: none;
  }
}

.pagination__link--next:active::after,
.pagination__link--next:hover::after,
.pagination__link--next:focus::after,
.pagination__link--next:focus-visible::after {
  background-color: $base-white;
}
