.slide__container {
  width: 280px;
  margin: 0 auto;
  padding: 20px 20px 60px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column-reverse;
    width: 608px;
    margin: 0 auto;
    padding: 60px 80px 0;
  }
}

.slide__image {
  height: auto;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.slide__information {
  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.slide__new {
  text-transform: uppercase;
  color: $base-primary;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  margin: 0 auto 4px;
  letter-spacing: 0.04em;
}

.slide__title {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  margin: 0 auto 10px;
  letter-spacing: 0.02em;

  @media (min-width: $tablet-width) {
    font-size: 56px;
    line-height: 80px;
    margin-bottom: 16px;
  }
}

.slide__description {
  font-size: 14px;
  line-height: 20px;
  margin: 0 auto 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 32px;
  }
}

.slide__buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 230px;
}

.slide__price {
  display: flex;
  column-gap: 6px;
}

.slide__old-price {
  font-size: 16px;
  line-height: 32px;
  color: $base-primary;
  text-decoration: line-through;
  margin-top: 2px;
}

.slide__current-price {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}

.slide__buy-button {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: $base-white;
  background-color: $base-primary;
  padding: 8px 20px;
  border-radius: 4px;
  border: none;
}

.slide__buy-button:hover,
.slide__buy-button:focus,
.slide__buy-button:focus-visible {
  background-color: #9070ec;
}

.slide__buy-button:active {
  background-color: #593cac;
}

.slide__buy-button:disabled {
  background-color: $base-grey;
}

.slide::before {
  content: "";
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  @media (min-width: $tablet-width) {
    height: 640px;
  }
}

.slide--flat-white::before {
  background-color: $bg-flat-white;
}

.slide--lavender-latte::before {
  background-color: $bg-lavender-latte;
}

.slide--espresso::before {
  background-color: $bg-espresso;
}

.hero__slider-button {
  background-color: transparent;
  border: none;
  width: 20px;
  padding: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background-image: url("../../icons/icon-slider-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;

  @media (min-width: $tablet-width) {
    width: 80px;
  }
}

.slider-button-prev {
  left: 0;
  transform: rotate(180deg);

  @media (min-width: $tablet-width) {
    bottom: 258;
  }
}

.slider-button-next {
  right: 0;

  @media (min-width: $tablet-width) {
    bottom: 258;
  }
}
